  <!--footer starts here-->
  <section id="footer">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-3 mt-5 border-top">
        <div class="col mb-3 footer-logo text-center">
            <a class="navbar-brand" href="#"><img src="assets/logo.png" class="img-fluid" alt="prestige-college"
                    width="200"></a>
            <h3>Orion College</h3>
            <p>© 2024</p>
        </div>

        <div class="col mb-3">

        </div>

        <div class="col mb-3">
            <h5>General</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="/home" class="nav-link p-0 text-body-secondary">Home</a></li>
                <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-body-secondary">About Us</a></li>
                <li class="nav-item mb-2"><a href="/courses" class="nav-link p-0 text-body-secondary">Courses</a></li>

            </ul>
        </div>

        <div class="col mb-3">
            <h5>Enrollment</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="/sign-up" class="nav-link p-0 text-body-secondary">Sign Up</a></li>
                <li class="nav-item mb-2"><a href="/log-in" class="nav-link p-0 text-body-secondary">Log In</a></li>
                <li class="nav-item mb-2"><a href="/home#notice" class="nav-link p-0 text-body-secondary">Notice</a></li>

            </ul>
        </div>

        <div class="col mb-3">
            <h5>Useful Links</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Our Instagram
                        Page</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Our Twitter
                        Page</a>
                </li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Clubs</a></li>
            </ul>
        </div>

    </footer>

</section>
<div class="bar w-100 " style="height: 25px; background-color: #0b6298;"></div>
<!--footer ends here-->