  <!--header starts here-->
  <section id="header">
    <div class="bar w-100 p-2" style="min-height: 25px; background-color: #0b6298;">
        <h5 class="user-name m-0 ps-5" style="color: white;"></h5>
    </div>
    <div class="row align-items-center shadow">
        <div class="col">
            <a class="navbar-brand ms-3" href="#"><img src="assets/header.png" class="img-fluid"
                    alt="prestige-college" width="300"></a>
        </div>
        <div class="col">
            <nav class="navbar navbar-expand-lg sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/home#notice">Notice</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Courses
                                </a>
                                <ul class="dropdown-menu text-muted">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li>

                                <button type="button" class="btn btn-primary header-button"
                                    onclick="window.location.href='/sign-up'">Sign In</button>
                                <button type="button" class="btn btn-primary header-button"
                                    onclick="window.location.href='/log-in'">Log In</button>
                                <a href="/admin" class="btn btn-outline-success mt-1">Admin Panel</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>
</section>
<!--header ends here-->